In [ ]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\rahul\anaconda3\lib\site-packages (9.5.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from mysql import connector

In [ ]:
conn = connector.connect(
    host="localhost",
    user="root",
    password="123456"
)
print("connection executed",conn.is_connected())

connection executed True

CREATE THE DATABASE

In [ ]:
cursor = conn.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS Student_db")
print("Database created successfully")

## step:3 connect the database

In [ ]:
conn = connector.connect(
    host="localhost",
    user="root",
    password="123456",
    database="Student_db"
)
cursor = conn.cursor()
print("connection executed",conn.is_connected())

connection executed True

## step4: create table

In [ ]:
cursor.execute("CREATE TABLE IF NOT EXISTS Student (id INT PRIMARY KEY, name VARCHAR(255),age INT)")  #if we want to execute the query then execute is 
#required #"IF NOT EXIST" if it not present create if exist don't create
print("Table created successfully")

Table created successfully

## step5: insert values (insert single,insert multiple)

In [ ]:
cursor.execute("INSERT INTO Student (id, name, age)VALUES (2, 'Rahul', 20)")

print("Record inserted successfully")

Record inserted successfully

## step6: insert multipe values

In [ ]:
sql = "INSERT INTO Student(id, name, age) VALUES (%s, %s, %s)"
values = [
    (2, 'sumith', 22),
    (3, 'somnath', 33),
    (4, 'karthik', 44)
]

## display table

In [ ]:
cursor.execute("SELECT * FROM Student")
records = cursor.fetchall()

for row in records:
    print(row)