In [1]:
import pandas as pd
d={
    "Name":["Alice","Bob","Charlie"],
    "Age":[21,23,25]
    }
x=pd.DataFrame(d)
print(x)

      Name  Age
0    Alice   21
1      Bob   23
2  Charlie   25

In [10]:
df = pd.read_csv("C:/Users/Rahul/Desktop/day5/dataset.csv")

In [11]:
df.sample(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
267,49,1,2,118,149,0,0,126,0,0.8,2,3,2,0
223,56,0,0,200,288,1,0,133,1,4.0,0,2,3,0
110,64,0,0,180,325,0,1,154,1,0.0,2,0,2,1
278,58,0,1,136,319,1,0,152,0,0.0,2,2,2,0
27,51,1,2,110,175,0,1,123,0,0.6,2,0,2,1
213,61,0,0,145,307,0,0,146,1,1.0,1,0,3,0
233,64,1,0,120,246,0,0,96,1,2.2,0,1,2,0
102,63,0,1,140,195,0,1,179,0,0.0,2,2,2,1
128,52,0,2,136,196,0,0,169,0,0.1,1,0,2,1
74,43,0,2,122,213,0,1,165,0,0.2,1,0,2,1

In [12]:
#method 16: unique

df['sex'].unique()

array([1, 0])

In [13]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [14]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [ ]:
df[(df['age'] > 20) & (df['age'] < 60)]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,59,1,0,164,176,1,0,90,0,1.0,1,2,1,0
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [16]:
df[(df['chol']>200) & (df['chol']<200)]

Empty DataFrame
Columns: [age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpeak, slope, ca, thal, target]
Index: []

In [17]:
df['chol'].max()

564

In [18]:
df['chol'].min()

126

In [21]:
df['chol_level'] = df['chol'].apply(lambda x:'high' if x>240 else 'normal')
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,chol_level
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1,normal
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1,high
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1,normal
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1,normal
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1,high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0,high
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0,high
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0,normal
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0,normal
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0,normal

In [22]:
# saved dataset
df.to_csv("safe_dataset.csv",index=False)

In [24]:
#chech duplication
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
298    False
299    False
300    False
301    False
302    False
Length: 303, dtype: bool

In [ ]:
#reset index
df.reset_index(drop=True,inplace=True)